.card{
    width: 180px;
    height: 180px;
    background-color: rgb(8, 5, 16);
    color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-left: 20px;
}